@model PagedList.IPagedList<HappyMVCAssignment.Models.Student>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    var limit = ViewBag.limit is int ? (int)ViewBag.limit : 10;
    var keyword = ViewBag.Keyword;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    <form method="post" action="/Students/Index">
        <p style="font-weight: bold">Search student</p>
        <input style="max-width: 320px" class="form-control" type="text" name="keyword" placeholder="Search by name,code,phone,email or class" value="@ViewBag.Keyword" /><br />
    </form>

</div>
<table class="table">
    <tr>
        <th>Class</th>
        <th>Name</th>
        <th>Code</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Status</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Classroom.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
@if (Model.PageCount > 1)
{
    <div>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, limit = limit,keyword}))
}
